.contacts__form_size_long {
    width: 339px;
    height: 80px;
}
@media screen and (max-width:373px) {
    .contacts__form_size_long {
        width: 204px;
        height: 48px;
    }
    
}
@media screen and (min-width:374px) and (max-width:424px) {
    .contacts__form_size_long {
        width: 259px;
        
    }
    
}
@media screen and (min-width:425px) and (max-width:767px) {
    .contacts__form_size_long {
        width: 309px;
        
    }
    
}
@media screen and (min-width:768px) and (max-width:1023px) {
    .contacts__form_size_long {
        width: 259px;
        
    }
    
}