@import url(./_envelope/contacts__ill_envelope.css);
@import url(./_message/contacts__ill_message.css);
@import url(./_phone/contacts__ill_phone.css);

.contacts__ill {
    z-index: -1;
    position: absolute;
}
@media screen and (max-width:1024px) {
    .contacts__ill {
        display:none;
    }
    
}