.footer__privacy {
    font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 19px;
}
@media screen and (max-width:425px) {
    .footer__privacy {
        grid-row: 1/2;
        grid-column: 1/2;
        margin-left:20px;
    }
    
}