.footer__logo_git {
   margin-left: 45px;
}
@media screen and (min-width:320px) and (max-width:375px)  {
   .footer__logo_git {
      margin:0 auto;
      width: 32px;
      height: 32px;
   }
}
@media screen and (min-width:376px) and (max-width:425px) {
   .footer__logo_git {
       margin-left:40px;
   }
   
}
@media screen and (min-width:1000px) and (max-width:1024px) {
   .footer__logo_git {
      margin-left:66px;
   }
   
}