@import url(./skype/contacts__info_point_skype.css);
@import url(./mail/contacts__info_point_mail.css);
@import url(./facebook/contacts__info_point_facebook.css);
@import url(./_number/contacts__info_point_number.css);
@import url(./_adress/contacts__info_point_adress.css);
@import url(./whatsapp/contacts__info_point_whatsapp.css);

.contacts__info_point {
margin: 0 auto 24px auto;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 24px;
}
