.footer__logo-full {
    display: flex;
    flex-wrap: wrap;
}
@media screen and (min-width:320px) and (max-width:424px) {
    .footer__logo-full {
        margin:300px auto 0;
        grid-column: 1/6;
    }
    
}
@media screen and (max-width:425px) {
    .footer__logo-full {
        margin:0 auto;
        justify-content: center;
        
    }
    
}
@media screen and (min-width:426px) and (max-width:800px) {
    .footer__logo-full {
        justify-content: center;
    }
    
}