.button_place_preview:nth-child(2) {
margin-left: 24px;
}
.button_place_preview{
    height: 42px;
    width: 160px;
    border-radius: 6px;
}
@media screen and (max-width:425px) {
    .button_place_preview {
        width: 146px;
    }
    
}