@import url(./_number/technologies__mark_number.css);
@import url(./_reviews/technologies__mark_reviews.css);

.technologies__mark {
    height: 24px;
    width: 290px;
    margin-top: 57px;
    display: flex;
    align-items: center;
}

@media screen and (max-width:425px) {
    .technologies__mark {
        margin: 0 15px;
    }
    
}
@media screen and (min-width:426px) and (max-width:768px) {
    .technologies__mark {
        margin: 0 auto;
    }
    
}