@import url(./__clutch/technologies__clutch.css);
@import url(./__text/technologies__text.css);
@import url(./__title/technologies__title.css);
@import url(./__icons/technologies__icons.css);
@import url(./__mark/technologies__mark.css);
@import url(./__star_color_green/technologies__star_color_green.css);
@import url(./__star_color_grey/technologies__star_color_grey.css);
@import url(./__star_half/technologies__star_half.css);

.technologies {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 109px auto 120px;
    max-width: 898px;
}
@media screen and (max-width:425px) {
    .technologies {
        margin:0 auto;
    }
    
}
@media screen and (max-width:768px) and (min-width:426px) {
    .technologies {
        margin:50px auto;
    }
    
}
@media screen and (max-width:1024px) and (min-width:796px) {
    .technologies {
        margin:70px auto;
    }
    
}