.middle-title {
    color:#194484;
   text-align: center;
   font-family: Harabara;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 39px;
}
@media screen and (max-width:425px) {
    .middle-title {
       font-size: 22px;
       line-height: 38px;
    }
}
@media screen and (max-width:767px) and (min-width:426px) {
    .middle-title {
       font-size: 27px;
       line-height: 38px;
    }
}
@media screen and (max-width:1024px) and (min-width:768px) {
    .middle-title {
       font-size: 32px;
       line-height: 38px;
    }
}