@import url(./__list/header__list.css);
@import url(./__point/header__point.css);
@import url(./__logo/header__logo.css);

.header {
    display: flex;
    align-items: center;
    background-color: rgba(33, 33, 33, 0.3);
    box-shadow: 0px 4px 12px rgba(24, 9, 96, 0.1);
    position: absolute;
    height: 80px;
    min-width: 100%;
    max-width: 1600px;
    z-index: 1;
    color:white;
}