.footer__li {
   margin-bottom: 18px;
   font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
}
.footer__li:first-child {
   margin-top:29px;

}

@media screen and (min-width:374px) and (max-width:425px) {
   .footer__li {
      margin-left: 20px;
   }
   
}