.contacts__form_item:nth-child(1) {
margin: 50px auto auto;
}
.contacts__form_item {
    margin: 20px auto 0;
    border-radius: 4px;
    border: 1px solid #D7D7D7;

}

.contacts__form_item::placeholder {
    color:#A9A9A9;
    border-radius: 4px;
    margin: 10px auto auto 16px;
}