.footer__products {
    margin-left: 82px;
    padding-left:0;
}
@media screen and (max-width:767px) {
    .footer__products {
        margin-left:0;
    }
    
}
@media screen and (min-width:768px) and (max-width:1024px) {
    .footer__products {
        grid-column: 2/3;
        
        margin-left:0;
    }
    
}