@import url(./__block/footer__block.css);
@import url(./__logo/footer__logo.css);
@import url(./__logos/footer__logos.css);
@import url(./__title/footer__title.css);
@import url(./__logo-title/footer__logo-title.css);
@import url(./__logo-full/footer__logo-full.css);
@import url(./__ul/footer__ul.css);
@import url(./__li/footer__li.css);
@import url(./__bottom/footer__bottom.css);
@import url(./__credits/footer__credits.css);
@import url(./__privacy/footer__privacy.css);
@import url(./__cookies/footer__cookies.css);
@import url(./__break/footer__break.css);
@import url(./__services/footer__services.css);
@import url(./__technologies/footer__technologies.css);
@import url(./__products/footer__products.css);
@import url(./__about/footer__about.css);

.footer {
    max-height: 1288px;
    max-width: 1600px;
    background: url(../../images/footer/blue_wave_light.svg), url(../../images/footer/blue_wave_dark.svg);
    background-repeat: no-repeat;
    background-position: bottom;
   
}
@media screen and (max-width:375px) {
   .footer{ 
        background-size: cover !important;
       background: url(../../images/light-blue-wave\ mobile.svg), url(../../images/blue\ wave\ mobile.svg);
       background-repeat: no-repeat;
       background-position: 0 160px}
}
@media screen and (min-width:376px) and (max-width:425px) {
    .footer {

        background-size: cover;
       
       background-repeat: no-repeat;
       background-position: right;
    }
    
}
@media screen and (min-width:426px) and (max-width:1024px) {
    .footer {
        
        background-size: cover;
       
       background-repeat: no-repeat;
       background-position: right;
    }
    
}
@media screen and (min-width:1025px) and (max-width:1440px) {
    .footer {
        
        background-size: cover;
       
       background-repeat: no-repeat;
      
    }
    
}