.services__vr-app-title {
    color: #0D6EB7;
    font-family: Harabara;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 38px;
}
@media screen and (max-width:425px) {
    .services__vr-app-title {
        text-align: center;
        font-size: 18px;
        margin:30px auto 10px;
    }
    
}