.button_place_clutch {
    width: 220px;
    height: 42px;
    border-radius: 6px;
    margin:48px 33px auto 0 ;
    border: none;
}
@media screen and (max-width:768px) {
    .button_place_clutch {
        margin: 48px auto 53px;
    }
    
}