@import url(./_gd/services__variations_gd.css);
@import url(./_ms/services__variations_ms.css);
@import url(./_sd/services__variations_sd.css);
@import url(./_va/services__variations_va.css);

.services__variations {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
@media screen and (max-width:425px) {
    .services__variations {
        display: flex;
        flex-direction: column;
    }
}
@media screen and (min-width: 426px) and (max-width:1023px) {
    .services__variations {
        position: relative;
    }
    
}