.footer__logo_sk {
   margin-top: 44px;
}
@media screen and (min-width:320px) and (max-width:375px)  {
   .footer__logo_sk {
      margin:0 auto;
      width: 32px;
      height: 32px;
   }
}
@media screen and (min-width:376px) and (max-width:425px) {
   .footer__logo_sk {
       margin:0 0 0 40px;
   }
   
}
@media screen and (min-width:800px)  and (max-width:1024px) {
   .footer__logo_sk {
      margin-top: 50px;
      margin-left: 0;
   }
   
}