@import url(./_color/_green/button_color_green.css);
@import url(./_color/_none/button_color_none.css);
@import url(./_color/_dark-blue/button_color_dark-blue.css);
@import url(./_color/_light-blue/button_color_light-blue.css);
@import url(./_place/_preview/button_place_preview.css);
@import url(./_place/_header/button_place_header.css);
@import url(./_place/_technologies/button_place_technologies.css);
@import url(./_place/_clutch/button_place_clutch.css);
@import url(./_place/_solution/button_place_solution.css);
@import url(./_color/_white/button_color_white.css);
@import url(./_place/_form/button_place_form.css);
@import url(./_color/_light-green/button_color_light-green.css);

.button {
    font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 36px;
}