.technologies__mark_reviews {
    margin-left: 13px;
    font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 26px;
}
@media screen and (max-width:320px) {
    .technologies__mark_reviews {
        font-size: 14px;
        margin-left: 10px;
    }
    
}