.button_color_green {
    background-color: #06B25F;
    color:white;
    border: none;
    
}
.preview__buttons .button_color_green:hover {
    color: black;
    transition: color 1s ease 0.5s;
    box-shadow: 0 0 10px black;
    transition: box-shadow 0.2s linear;
}
.technologies__clutch .button_color_green:hover {
    color: black;
    transition: color 1s linear;
    box-shadow: 0 0 10px black;
    transition: box-shadow 0.2s linear;
}