.footer__logo_fb {
    margin-top:53px;
}
@media screen and (max-width:375px){
    .footer__logo_fb {
        margin:0 auto;
        width: 32px;
        height: 32px;
    }
}
@media screen and (min-width:376px) and (max-width:425px) {
    .footer__logo_fb {
        margin-top: 60px;
    }
    
}